@model NbgMvc.Models.ProductsPage

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Name)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].InventoryQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].BuyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ImageFilename)
            </th>
            <th>Product image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageFilename)
                </td>
                <td><img src="~/uploads/@item.ImageFilename" width="100px" heiht="50px" /></td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--    text, link   ->  Html.ActionLink( link text ,  actionName ,  controllerName , Route value , htmlArguments  ) -->

@{
    int a = Model.PageCount;
    a++;
}

@a  

<a href="/Products?pageCount=@Html.DisplayFor(model => model.PagePrevious)">Previous page</a>|
<a href="/Products?pageCount=@Html.DisplayFor(model => model.PageNext)">Next page</a>
